@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 50px 0;
  &__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  }
}

.logo{
  position: relative;
  &::before{
    content: "Glee.";
    font-size: 36px;
    line-height: 58px;
    @extend %rubik-medium;
    color: #436372;
    position: absolute;
    top: -10px;
    left: 65px;
  }
}

.menu{
  &__list{
    display: flex;
    transform: translateX(86px);
  }
  &__list-item + .menu__list-item{
    margin-left: 35px;
  }
  &__list-link{
    color: #436372;
    @extend %rubik-medium;
  }
}

.user__nav-link{
  position: relative;
  &_search{
    background-color: #edf1f4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  &_btn{
    background-color: #a3bbc8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }
  &-hearth{
    background-color: #fcd7b6;
    border-radius: 50px 0 0 50px;
    width: 80px;
    height: 50px;
  }
  &-cart{
    position: relative;
    background-color: #fcd7b6;
    border-radius: 0 50px 50px 0;
    width: 80px;
    height: 50px;
  }
}

.user__nav{
  display: flex;
  &-img{
    position: absolute;
    top: 15px;
    right: 15px;
  }
  &-decor{
    line-height: 45px;
    font-size: 35px;
    color: #fde7d3;
    background-color: #fcd7b6;
  }
}

.user__nav-img{
  &-cart{
    right: 30px;
  }
  &-hearth{
    right: 30px;
  }
}

.user__nav-link span{
  position: absolute;
  top: 5px;
  right: 19px;
  background-color: #fff;
  color: #000;
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
  @extend %dmsans-regular;
}

.footer__top{
  display: flex;
  justify-content: space-between;
  padding: 80px 0 75px 0;
  border-bottom: 1px solid #dae4e9;
  &-items{
    max-width: 300px;
  }
  &-contact{
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  &-logo{
    margin-bottom: 30px;
  }
  &-address,
  &-email,
  &-phone{
    @extend %rubik-regular;
    font-size: 14px;
    line-height: 24px;
    color: $footer;
    margin-bottom: 10px;
  }
  &-title{
    @extend %dmsans-bold;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    margin: 10px 0 25px;
  }
  &__nav-list{
    font-size: 16px;
    line-height: 32px;
  }
  &__nav-link{
    color: $footer;
  }
  &-text{
    @extend %rubik-regular;
    font-size: 16px;
    line-height: 24px;
    color: $footer;
    margin-bottom: 40px;
  }
  &-items-form{
    max-width: 270px;
  }
  &-form__text{
    border: none;
    background-color: #fef7f0;
    max-width: 170px;
    margin: 0;
    padding: 15px;
    float: left;
  }
  &-form__text::placeholder{
    color: #234969;
    @extend %dmsans-regular;
    font-size: 12px;
  }
  &-form__btn{
    border: none;
    background-color: #a3bbc8;
    @extend %dmsans-regular;
    color: #fff;
    padding: 14px 12px;
    margin: 0;
    cursor: pointer;
  }
}

.footer__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0 42px;
  font-size: 14px;
  line-height: 18px;
  color: $footer;
  @extend %rubik-regular;
  &-nav__items{
    display: flex;
  }
  &-nav-list + .footer__bottom-nav-list{
    border-left: 1px solid $footer;
  }
  &-nav-list{
    padding: 0 15px;
  }
  &-nav-list:nth-child(1){
    padding-left: 0; 
  }
  &-nav-list:nth-child(4){
    padding-right: 0;
  }
  &-nav-link{
    color: $footer;
  }
}

.slider-blog{
  background-image: url('../images/oreo-slider.png');
  background-repeat: no-repeat;
  background-position: 85%;
  background-color: #fcd7b6;
  padding: 225px 0 280px;
  &__items{
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__item{
    max-width: 400px;
  }
  &__title{
    font-size: 70px;
    color: #243f4d;
    @extend %rubik-medium;
    margin-bottom: 40px;
  }
  &__text{
    @extend %rubik-regular;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 40px;
  }
  &__link{
    display: block;
    padding: 25px 28px;
    color: #fff;
    background-color: #a3bbc8;
    @extend %rubik-medium;
    max-width: 200px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/arrows.png');
      background-repeat: no-repeat;
      width: 22px;
      height: 10px;
      top: 30px;
      right: 20px;
    }
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  transform: translateY(205px);
  li{
    margin-left: 10px;
    button{
      border: none;
      @extend %rubik-medium;
      color: #243f4d;
      background-color: #fde3cc;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    &.slick-active{
      button{
        @extend %rubik-medium;
        background-color: #fff;
      }
    }
  }
}

.blog__info{
  display: flex;
  justify-content: space-around;
  background-color: #fef7f0;
  padding: 45px 0;
  &-items{
    display: flex;
  }
  &-img{
    margin-right: 25px;
    background-size: auto;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    transform: translate(0px, 10px);
  }
  &-title{
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    @extend %dmsans-bold;
  }
  &-text{
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    @extend %dmsans-regular;
  }
}

.video__popup{
  background-image: url('../images/video-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &-inner{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
  }
}
.insights{
  padding-top: 120px;
  &__title{
    font-size: 36px;
    @extend %dmsans-bold;
    color: #191919;
    margin-bottom: 45px;
    display: inline-block;
  }
  &__all{
    float: right;
    transform: translateY(20px);
  }
  &__all-link{
    @extend %dmsans-bold;
    color: #191919;
  }
  &__inner{
    display: flex;
    justify-content: space-between; 
  }
  &__items{
    width: 370px;
    background-color: #fff;
  }
  &__images{
    height: 250px;
    background-size: cover;
  }
  &__news{
    transform: translate(30px, -10px);
  }
  &__news-link{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    @extend %poppins-bold;
    background-color: #a3bbc8;
    padding: 8px 32px;
    border-radius: 50px;
  }
  &__text{
    padding: 20px 0 0 35px;
    font-size: 18px;
    color: #262626;
    @extend %dmsans-medium;
    min-height: 112px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__copy{
    display: flex;
    padding: 20px 0 25px;
    font-size: 12px;
    text-transform: uppercase;
    color: #222933;
    @extend %rubik-regular;
  }
  &__copy-data{
    margin: 0 30px 0 35px;
  }
  &__partners{
    background-color: #fef7f0;
    width: 100%;
    margin-top: -193px;
  }
  &__partners{
    padding: 290px 0 90px;
  }
  &__partners-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



@import 'media';